<html>
<head>

  <title>Janet Turner - Work</title>

  <% include partials/dependencies %>

  <style>

  .rectangle {

  }
  .art-option-container {
    padding: 2px;
  }
  .art-option {
    position: relative;
    overflow: hidden;
    /*overflow: auto;*/
  }
  .photo {
    /*width: 100%;*/
    /*max-width: 100%;*/
    height: 376px;
  }
  .description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }

  </style>

</head>
<body>

<div class="container">
  <h1>Janet Turner</h1>
  <p class="description">
    Hi there!
  <br /><br />
    My name is Janet and I'm a Production Coordinator from Denver currently residing in Los Angeles. I graduated with a B.A. in Animation & Digital Arts from the University of Southern California in 2014. Since then, I've been working at Awesomeness in the Branded Department working on various large-scale campaigns.
    <br /><br />
    Over the past few years content creation has integrated itself into everyday life giving new meaning to how we relate to brands. Words such as influencers, Gen-Z, & YouTube that used to be so foreign to me, are now integral to my work. As a Branded Content Coordinator I have ideated and produced content for both YouTube & Facebook, and coordinated the productions of several campaigns. With Gen-Z and millennials accounting for a large percentage of consumers, I enjoy the challenge of making content to align with a brand's unique voice for such a powerful and dynamic audience.
    <br /><br />
    Storytelling - I can't talk about myself without mentioning that I am addicted to hearing, reading, and watching meaningful stories in the form of short videos about inspirational people, world travels, and exotic foods. I religiously read the Modern Love column in the New York Times and follow everything from NatGeo & Culture Trip to Refinery29 & UpWorthy. I, like most others, are constantly consuming content...
    <br /><br />
    ...so let's make something worth watching.
  </p>

  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/23733922_1151600341651544_8833412104712093696_n.jpg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/cactus.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/bulldog.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/crocodile.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/giraffe.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/walrus.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/yeti.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/backpack.png" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/cats.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/humans.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/jalapenos.png" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/raccoon.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/ramen.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/roses.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/snowflakes.jpeg" />
    </div>
  </div>
</div>


  <script>


  </script>
</body>
</html>
