<html>
<head>

  <title>Janet Turner - Work</title>

  <% include partials/dependencies %>

  <style>

  .rectangle {

  }
  .art-option-container {
    padding: 2px;
  }
  .art-option {
    position: relative;
    overflow: hidden;
    /*overflow: auto;*/
  }
  .photo {
    /*width: 100%;*/
    /*max-width: 100%;*/
    height: 376px;
  }

  </style>

</head>
<body>

<div class="container">
  <h1>Janet Turner</h1>

  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/23733922_1151600341651544_8833412104712093696_n.jpg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/cactus.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/bulldog.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/crocodile.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/giraffe.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/walrus.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/yeti.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/backpack.png" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/cats.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/humans.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/jalapenos.png" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/raccoon.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/ramen.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/roses.jpeg" />
    </div>
  </div>
  <div class="col-md-4 art-option-container">
    <div class="art-option">
      <img class="photo" src="images/snowflakes.jpeg" />
    </div>
  </div>
</div>


  <script>


  </script>
</body>
</html>
