<html>
<head>

  <script src="../socket.io/socket.io.js"></script>
  <script src="jquery.min.js"></script>

</head>
<body>
  <input class="text" type="text" />
  <button class="send">send</button>

  <script>

  var socket = io()

  $('.send').click(function(){
    socket.emit('chat', $('.text').val())
  })

  socket.on('chat', function(msg){
    $('body').append('<div>'+msg+'</div>')
  })


  </script>
</body>
</html>
